<% provide(:title, "About") %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">Placeとは</h1>
<div class="borderbtm"></div>
<div class="blank"></div>
<h3 class="text-center">Placeとはユーザー同士で場所を共有する場所です。</h2>
<div class="blank"></div>
<h3 class="text-center">場所を借りたい場合ホーム画面から、</h2>
<div class="blank"></div>
<h3 class="text-center">場所を貸したい場合右上の[場所を提供する]から共有することができます。</h2>
<div class="blank"></div>
</div>
