<% provide(:title, "Placeとは") %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">Placeとは</h1>
<div class="borderbtm"></div>
<div class="blank"></div>
<h3 class="text-left">1.どんなアプリ？</h3>
<p>ユーザーが所有しているPlace(場所)を共有するアプリです。<br>使ってないお部屋、別荘、民宿、貸しスタジオなど、好きなPlaceを共有してください。</p>
<div class="blank"></div>
<h3 class="text-left">2.何ができる？</h3>
<p>サインインすることで自分のPlaceを投稿したり、他のユーザーのPlaceを閲覧、お気に入り登録することができます。</p>
<div class="blank"></div>
<h3 class="text-left">3.気になる投稿があったら？</h3>
<p>投稿の詳細ページ記載のメールアドレスに直接連絡をお願いします。</p>
<div class="blank"></div>
</div>
