<% provide(:title, "お問い合わせ") %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">お問い合わせ</h1>
<div class="borderbtm"></div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
<div class="blank"></div>
<h3 class="text-left m-auto">・所在地:神奈川県町田市</h3>
<div class="blank"></div>
<h3 class="text-left m-auto">・Email:nikebocgtr@gmail.com</h3>
<div class="blank"></div>
<h3 class="text-left m-auto">・TEL:080-XXXX-OOOO</h3>
<div class="blank"></div>
</div>
<div class="col-lg-2"></div>
</div>