<% provide(:title, "お問い合わせ") %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">お問い合わせ</h1>
<div class="borderbtm"></div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
<div class="m-5"></div>
<section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">所在地</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">神奈川県町田市</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">メール</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">nikebocgtr@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">電話番号</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">000-0000-0000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
<div class="col-lg-2"></div>
</div>
