<% provide(:title, "お問い合わせ") %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">お問い合わせ</h1>
<div class="borderbtm"></div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
<div class="blank"></div>
<h3 class="text-center m-5">所在地</h3>
<div class="blank"></div>
<h3 class="text-center m-5">神奈川県横浜市</h3>
<div class="blank"></div>
<h3 class="text-center m-5">メール</h3>
<div class="blank"></div>
<h3 class="text-center m-5">nikebocgtr@gmail.com</h3>
<div class="blank"></div>
<h3 class="text-center m-5">TEL</h3>
<div class="blank"></div>
<h3 class="text-center m-5">080-XXXX-OOOO</h3>
<div class="blank"></div>
</div>
<div class="col-lg-2"></div>
</div>
<div class="blankbtm"></div>