@import "bootstrap";

h1 {
  letter-spacing: -3px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: 5px;
  margin: 20px;
}

h3 {
  letter-spacing: -1px;
  margin: 20px;
}

h4 {
  letter-spacing: -1px;
  margin: 20px;
}
.details {
  margin: 20px;
}

.blank {
  margin: 20px;
}

.borderbtm {
  border-bottom: 1px solid;
}

.blankbtm {
  margin: 300px;
}

/* forms */

.box {
  margin: 0 auto;
  padding-bottom: 20px;
}

.centerbtn {
  padding-top: 15px;
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: 10px;
}
.signuplink {
  margin-top: 20px;
  text-align: right;
}

.linktext {
  color: grey;
}

.right {
  float: right;
}

.left {
  float: left;
}
.center {
  float: center;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

// ユーザーイメージ
// .userimage {
//   border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
//   width: 100px;  /* 縦横を同じ値にする */
//   height: 100px;  /* 縦横を同じ値にする */
//   object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
// }
