@import "bootstrap";

h1 {
  letter-spacing: -3px;
  // margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }