<footer class="py-5 bg-dark footer mt-auto">
  <div class="container"><p class="m-0 text-center text-white">株式会社民Park | 代表:高島成生</p></div>
  <div class="container">
  <nav class="navbar bg-dark">
  <div class="row">
    <%= link_to "お問い合わせ", contact_path, class: "navbar-brand text-white" %>
  </div>
</nav>
</div>
</footer>